/* .CardImg {
  border: 2px solid black;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.detailbox {
  min-width: 280px;
  width: 676px;
}

.category {
  position: sticky;
  top: 0px;
}

/* 3. ScrollSpy active styles (see JS tab for activation) */
.category li.active > a {
  color: white;
  font-weight: 500;

  background-color: violet;
}

.category li a {
  text-decoration: none;
  display: block;
  padding: 0.125rem 0;
  color: white;
  transition: all 50ms ease-in-out; /* 💡 This small transition makes setting of the active state smooth */

  margin: 0;
  padding: 0 20px 0 20px;
  height: 50px;
  line-height: 50px;
}

.category a:hover,
.category a:focus {
  color: white;
  background-color: violet;
}

.category ul {
  list-style: none;

  margin: auto;
  padding: 0;
}
.category li {
  float: left;
}

nav {
  background: #41c7c2;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.detail-section {
  margin-top: 30px;
}
